<!-- Inner Banner Start-->
<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>PRISUM-DMS</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Product</a></li>
                <li class="breadcrumb-item active" aria-current="page">DMS</li>
            </ol>
        </nav>
    </div>
</section>

<section class="section about-content-area">
    <div class="container">
        <div class="header text-center">
            <img src="/assets/images/sfa/org_prisum.png" alt="Demo Image">
            <h1>Distributor<span> Management </span>System</h1>
        </div>
        <div class="content mt-3 text-center text-md-left">
            <p>DMS simplifies your sales circle while speeding up the final product delivery. Apart from order
                management, it also helps distributors to generate their MIS reports and statutory
                compliance-related reporting. Being an online integrated module, it offers real-time inventory
                management for distributors enabling them to effortlessly avoid stock-outs, excess supplies and
                control trade promotion spends. Generating claim statements against the trade promotions is always a
                tedious activity for distributors. With Featec DMS, the claim generation and settlement process
                becomes a completely automated process, allowing distributors to use their resources for more
                important tasks. Our DMS can also be integrated with backend ERP systems, completely automating the
                process of primary order generation. The system offers flexibility in terms of choosing either the
                indenting or the replenishment method for primary order management. Additionally, DMS can also be
                integrated with accounting systems used by distributors, completely eliminating the need to enter
                sales information for ledger accounting.</p>
            <div class="container-fluid mt-5 d-flex align-items-center justify-content-center">
                <img class="img1" src="/assets/images/icon/jh.png" alt="Additional Image">
            </div>
        </div>
    </div>
</section>

<div class="container p-5 pb-0">
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/Order Management.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
        <h2>Inventory Management</h2>
            <p>Our inventory management software allows you to categorise your
                products by name, type, brand, supplier, and supplier code, SKU, to easily build custom reports,
                perform inventory counts or coordinate with your demand.Our cloud-based inventory management
                software provides real-time visibility into inventory, with anywhere, anytime access to critical
                information.
            </p>
        </div>
    </div>

    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
          <img src="/assets/images/icon/inevn.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Order Management</h2>
            <p>Streamline, automate and accelerate collection and processing of orders from different channels. WIth
                this feature of DMS you can reduce order errors, costs, increase visibility and productivity customer
                service.</p>
        </div>
    </div>

    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/Returns Management.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
            <h2>Returns Management
            </h2>
            <p>
                The returns and replacements management system lists all of the items on the order. As the user
                specified that an item has been returned, they will be asked for a return reason. Depending on the
                reasons to return, the system will intelligently determine what needs to be done
            </p>
        </div>
    </div>

    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
            <img src="/assets/images/icon/Scheme Management.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Scheme Management
            </h2>
            <p>
                You can feed the scheme parameters like scheme concept, validity period, prizes involved, terms and
                conditions, etc. in the system and disseminate the information across. DMS enables you to implement your
                scheme in the best possible way to ensure success and yet allow you to control the administration with
                as little effort as possible.
            
            </p>
        </div>
    </div>
    
</div>

<div class="container-fluid mb-5 d-flex align-items-center justify-content-center text-center">
    <div class="d-flex">
        <button class="btn btn-demo me-3" (click)="openDemoRequest()">Request a Demo</button>
        <button class="btn btn-expo" (click)="openLiveExpo()">Live Expo</button>
    </div>
</div>