
<!-- Fixed Social Media Icons -->
<!-- <div class="fixed-social-icons">
    <a href="https://wa.link/your-whatsapp-url" target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
    <a href="https://www.facebook.com/your-facebook-page" target="_blank" class="facebook"><i
            class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/your-instagram-page" target="_blank" class="instagram"><i
            class="fab fa-instagram"></i></a>
</div> -->

<section class="fxdRghtSclSc">
    <div class="fxdRghtSclDv">
        <div class="ComscalDv">
            <a href="https://web.whatsapp.com/send?phone=919042647702&amp;text=Hi,%20I%20need%20more%20details%20about%20Featec%20business%20solutions%20pvt ltd.%20Shall%20we%20discuss%20now?%20-%20http://featec.in/"
                target="_blank">
                <div class="WpscalDv">
                    <i class="mdi mdi-whatsapp" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="ComscalDv">
            <a href="https://www.linkedin.com/company/featec-business-solutions" target="_blank">
                <div class="telescalDv">
                    <i class="mdi mdi-linkedin" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="ComscalDv">
            <a href="https://www.instagram.com/featec_business_solutions/" target="_blank">
                <div class="insscalDv">
                    <i class="mdi mdi-instagram" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="ComscalDv">
            <a href="mailto:support@featec.in" target="_blank">
                <div class="malscalDv">
                    <i class="mdi mdi-email-outline" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</section>