  <!-- Inner Banner Start-->
    <section class="inner-hero-banner">
        <div class="inner-hero-text">
            <h1>About Us</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </section>
    <!-- Inner Banner End -->
    <!-- Start About Content Area -->
    <section class="section about-content-area">
        <div class="container">

            <!-- <div class="title-block mx-auto">
                <div class="section_title mb-4 text-center">
                    <h2><span>Our Values</span></h2>
                    <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                        data-enllax-direction="horizontal" style="transform: translateX(80px);">Our Values</span>
                    <p class="section_subtitle mx-auto"></p>
                </div>
            </div> -->
            <div class="row align-items-center">
                <!-- <div class="col-md-6 col-sm-12">
                    <div class="image-container mt-0 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                        <div class="video-wrapper">
                            <a class="popup-youtube" data-toggle="modal" data-target="#videomodal" href="javascript:void(0)">
                                <img src="assets/images/video-frame.jpg" class="img-fluid" alt="">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="about-text-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                        <div class="about-content">
                            <h4>
                                why we do what we do
                            </h4>
                            <div class="text">The work we do matters. We understand that, our clients may associate with us to achieve their milestones and we able to
                            help our clients make more money.<br>
                            
                        These are not just projects to us … these are the lives and the dreams of our clients … and we are honored to be
                        considered a trusted advisor to the people we serve.
                            

                            
                    </div>
                        </div>
                    </div>
                </div> -->
                <section class="about-section">
                    <div class="container">
                        <div class="row">                
                            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <span class="title">  … why we do what we do</span>
                                        <h2>How we make a difference</h2>
                                    </div>
                                    <div class="text">
                                        We are a team of young professionals, passionate about technology, partnering with businesses to help them grow by turning technology into a true competitive advantage — not just digital tools. 
                                        With experts across diverse domains, we build technical solutions that tackle business challenges and help organizations thrive with a healthier bottom line.<br><br>
                                        Our measure of success is simple: technology that improves decisions, boosts efficiency, and strengthens your bottom line.

                                    
                                    </div>
                                 
                                    <!-- <div class="btn-box">
                                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                                    </div> -->
                                </div>
                            </div>
            
                            <!-- Image Column -->
                            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column wow fadeInLeft">
                                  <!-- <div class="author-desc">
                                    <h2>Rahul Kumar Yadav</h2>
                                    <span>Web Developer</span>
                                  </div> -->
                                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="assets/images/aboutus/what.jpg" alt=""></a></figure>
                                 
                                </div>
                            </div>
                          
                       </div>
                       </div>
                      
                </section>
              
               
            </div>


                        <!-- <div class="row align-items-center">
                        
                            <div class="col-md-6 col-sm-12 order-md-2">
                                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                                    <img src="assets/images/aboutus/team.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 order-md-1">
                                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                                    <div class="about-content">                       
                                        <div class="text">                      
                                            <h1>The Big Picture</h1>
                        
                                            The work we do matters. We understand that, our clients may associate with us to achieve their
                                            milestones and we able to
                                            help our clients make more money.
                        
                        
                                            These are not just projects to us … these are the <mark>lives and the dreams</mark> of our clients …
                                            and we are honored to be
                                            considered <mark>a trusted advisor</mark> to the people we serve.

                                            
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row align-items-center justify-content-center">
                        <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                            <div class="about-content align-items-center">
                                <div class="text">
                            <h3>Your company + our team = a powerful combination</h3>
                            </div>
                            </div>
                        </div>
                        </div>
                        <section class="about-section">
                            <div class="container">
                                <div class="row">   
                                            
                                    <div class="content-column col-lg-6 col-md-12 col-sm-12 ">
                                        <div class="inner-column">
                                            <div class="sec-title">
                                                <!-- <span class="title">  Technology is best when it brings people together...</span> -->
                                                <h2>Mission</h2>
                                            </div>
                                            <div class="text">
                                                To build tailor-made, intelligence-driven systems that transform businesses to scale — 
                                                turning technology investments into measurable business growth.

                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="image-column image-column2 col-lg-6 col-md-12 col-sm-12 order-2">
                                        <div class="inner-column2 wow fadeInLeft">
                                            <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="assets/images/aboutus/Mission.jpg" alt=""></a></figure>
                                        
                                        </div>
                                    </div>       
                            </div>
                            </div>
                        </section>

                        <section class="about-section">
                            <div class="container">
                             <div class="row">                
                            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <h2>Vision</h2>
                                    </div>
                                    <div class="text">
                                       To empower businesses with intelligent technology systems that become the backbone of their growth, decision-making, and competitive advantage.
                                    </div>
                             </div>
                            </div>
                              <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column wow fadeInLeft">
                                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="assets/images/aboutus/Vision.png" alt=""></a></figure>
                                </div>
                            </div>
                       </div>

                     </div>
                        </section>


                        
        </div>
    </section>

    <!-- End About Content Area -->
    
    <!-- Start ours teams-->


  
    <!-- End our teams Area -->
    <!-- Start About Countdown Area-->
    <!-- <section class="parallax parallax-box section">
        <div id="counter">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <div class="counter-ico" ngbTooltip="A Successful Track Record: 12 Projects Delivered" placement="top"><i class="mdi mdi-rocket"></i></div>
                            <h3 id="number1" class="number counter-value" data-count="12">0</h3>
                            <span></span>
                            <p>Projects done</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <div class="counter-ico" ngbTooltip="Our Success: 55 Clients Happy and Thriving!" placement="top"><i class="mdi mdi-account-group"></i></div>
                            <h3 id="number2" class="number counter-value" data-count="55">0</h3>
                            <span></span>
                            <p>Happy clients</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <div class="counter-ico" ngbTooltip="Our Force: A Dynamic Team of 50 Dedicated Employees!" placement="top"><i class="mdi mdi-coffee"></i></div>
                            <h3 id="number3" class="number counter-value" data-count="50">0</h3>
                            <span></span>
                            <p>Cups of coffee</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="counter-box text-center">
                            <div class="counter-ico" ngbTooltip="A Decade of Excellence: 10 Awards and Counting!" placement="top"><i class="mdi mdi-trophy"></i></div>
                            <h3 id="number4" class="number counter-value" data-count="10">0</h3>
                            <span></span>
                            <p>Awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End About Countdown Area-->
    <!-- Start About Team Area-->
    <!-- <section class="section team-area">
        <div class="container">
            <div class="title-block mx-auto">
                <div class="section_title mb-4 text-center">
                    <h2><span>The Best Team</span></h2>
                    <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground" data-enllax-direction="horizontal" style="transform: translateX(80px);">The Best Team</span>
                    <p class="section_subtitle mx-auto"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/1.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook-box"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Subramanian</h4>
                            <p>HR</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/1.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook-box"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Vicky</h4>
                            <p>Senior Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/1.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook-box"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Andy Raj</h4>
                            <p>Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/1.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook-box"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Manjula</h4>
                            <p>Project Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/1.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook-box"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Akilesh</h4>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-team wow fadeInUp" data-wow-duration="1.5s">
                        <div class="team-photo">
                            <img src="assets/images/aboutus/team/1.jpg" class="img-fluid" alt="">
                            <div class="team-content">
                                <div class="team-social">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook-box"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <h4>Surendran</h4>
                            <p>Business Analysts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End About Team Area-->

    <!-- <section class="section about-content-area">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12 order-md-2">
                    <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                        <img src="assets/images/aboutus/marketing.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-1">
                    <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                        <div class="about-content">
                            <h4>
                                VIBRANT SALES & MARKETING
                            </h4>
                            <div class="text">Our specialized Marketing Team is constantly looking into the actual needs of our
                                clients/partners, relying on the
                                recent technical developments in the industry. Our Sales Department, made up of highly qualified
                                professionals, adapts
                                and promotes solutions and services which are tailored to each customer. Our sales strategy focuses
                                on achieving the
                                best possible cost-benefit relationship. </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12 order-md-1">
                    <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                        <img src="assets/images/aboutus/digital.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-2">
                    <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                        <div class="about-content">
                            <h4>
                                DIGITAL MARKETING STRATEGIST
                            </h4>
                            <div class="text">Amazing results start with our amazing strategies. We can develop a strategy that
                                allows you to grow without causing you
                                to spend more than you’re comfortable with.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12 order-md-2">
                    <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                        <img src="assets/images/aboutus/social.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-1">
                    <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                        <div class="about-content">
                            <h4>
                                SOCIAL MEDIA EXPERTS
                            </h4>
                            <div class="text">Growing your social footprint and creating engaged followers is an art and a science.
                                Our team of experts will be
                                leading the charge for you.</div>
                        </div>
                    </div>
                </div>
            </div>


</div>
</section> -->
<!-- <section class="section about-content-area">
    <div class="container">

        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>Our Teams</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal" style="transform: translateX(80px);">Our Teams</span>
                <p class="section_subtitle mx-auto"></p>
            </div>
        </div>
       

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/bussiness.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            TALENTED BUSINESS ANALYSTS
                        </h4>
                        <div class="text">Our Business Analytics team help small and large organizations maximize the value of their data, unearth insights, build
                        plans and respond in real-time to customer demand.
                        Go beyond the what. Get to the why, and plan for what’s next.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/developer.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            ENERGETIC DEVELOPERS
                        </h4>
                        <div class="text">Our Development Team is made up of leading certified IT engineers with many years of on-hands experience in leading
                        technologies. The engineers in our Development Team are constantly trained and evaluated with a view of providing the
                        very best solutions even to the most demanding problems. </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/designer.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            EXPERT DESIGNERS
                        </h4>
                        <div class="text">Our designers will make your application with elegance designs and give complete new fresh look. To Make the application
                        more user friendly is our main aim. This will make your application more interesting and wont make users confuse in
                        navigating.</div>
                    </div>
                </div>
            </div>
        </div> -->

       
        <!-- <div class="modal fade" id="videomodal" tabindex="-1" role="dialog" aria-labelledby="videomodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content transparent-modal">
                    <div class="modal-body p-0">
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <iframe src="https://www.youtube.com/embed/UB1O30fR-EE?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div>
</section> -->
<!-- <section class="about-section">
    <div class="container">
        <div class="row">   
                      
            <div class="content-column col-lg-6 col-md-12 col-sm-12 ">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">  Technology is best when it brings people together...</span>
                        <h2>The Big Picture</h2>
                    </div>
                    <div class="text">
                        The work we do matters. We understand that, our clients may associate with us to achieve their
                        milestones and we able to
                        help our clients make more money.
    
    
                        These are not just projects to us … these are the lives and the dreams  of our clients …
                        and we are honored to be
                        considered a trusted advisor to the people we serve.

                    
                    </div> -->
                 
                    <!-- <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                    </div> -->
                <!-- </div>
            </div>
            <div class="image-column image-column2 col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column2 wow fadeInLeft"> -->
                  <!-- <div class="author-desc">
                    <h2>Rahul Kumar Yadav</h2>
                    <span>Web Developer</span>
                  </div> -->
                    <!-- <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="assets/images/aboutus/team.jpg" alt=""></a></figure> -->
<!--                  
                </div>
            </div>    -->

            <!-- Image Column -->
            
<!--           
       </div>
       </div>
      
</section>

<section class="section about-content-area">
    <div class="container">

       
        
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/digital.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            DIGITAL MARKETING STRATEGIST
                        </h4>
                        <div class="text">Amazing results start with our amazing strategies. We can develop a strategy that
                            allows you to grow without causing you
                            to spend more than you’re comfortable with.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/marketing.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            VIBRANT SALES & MARKETING
                        </h4>
                        <div class="text">Our specialized Marketing Team is constantly looking into the actual needs of our
                            clients/partners, relying on the
                            recent technical developments in the industry. Our Sales Department, made up of highly qualified
                            professionals, adapts
                            and promotes solutions and services which are tailored to each customer. Our sales strategy focuses
                            on achieving the
                            best possible cost-benefit relationship. </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            SOCIAL MEDIA EXPERTS
                        </h4>
                        <div class="text">Growing your social footprint and creating engaged followers is an art and a science.
                            Our team of experts will be
                            leading the charge for you.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/social.jpg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>


</div>
</section> -->