<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>Database Management</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Database Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">MongoDB</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Start Features Area -->
<section class="section bg-light">
    <!-- Circle Animations Effect-->
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>MongoDb with us - Create more swiftly. Create more effectively.</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">MongoDB</span>
                <p class="section_subtitle mx-auto">We provide the most out of Managed Services, Consulting, Security Auditing, and performance for your business</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MongoDB Managed Services</h3>
                        <div class="text">By lowering operating costs, managed databases free up developers and analysts to concentrate on getting the most out of
                        your data.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MongoDB Consulting Services</h3>
                        <div class="text">Flexible, remote consultation sessions help projects advance by clearing technological roadblocks.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MongoDB Performance and Security Auditing</h3>
                        <div class="text">To secure your MongoDB deployments, MongoDB offers a number of capabilities, including authentication, access control,
                        and encryption.</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MongoDB Remote DBA</h3>
                        <div class="text">In order to maintain important data close to end users for regulatory compliance and low-latency reads and writes,
                        global clusters geographically segment your database.</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="text-white">OUR FEATURES</h5>
                    <h2 class="text-white">Our MongoDB Services for your Database</h2>
                    <p class="text-white">The customization you need from us to make the most of tomorrow</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Remote DBA</h4>
                        <p class="opacity-70">MongoDB's remote database administration (DBA) services deliver comprehensive, high-impact outcomes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Database Optimization</h4>
                        <p class="opacity-70">The procedure of altering a company's data strategy to increase the efficiency and speed of data extraction, analysis,
                        and use</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Managed Services Support to your Database Systems</h4>
                        <p class="opacity-70">Our managed services support your Database and bring in a better performance With your data and help you attain high
                        success levels.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Load balancing and Archival Solutions</h4>
                        <p class="opacity-70">We support cost-effectively dividing up incoming network traffic among a server farm of backend computers. We also have
                        frequently been using migration procedures between exchange versions or organizations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h2 class="text-white">Let’s create something together?</h2>
                    <p class="text-white">Contact us without any hesitate</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">

    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>OUR SERVICES</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">our services</span>
                <p class="section_subtitle mx-auto">MongoDB employs a non-structured query language and a document-oriented data format. We help you build scalable,
                high-performance apps and handle the provisioning, scaling, security, backups, and updates of your MongoDB clusters.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Flexible support <!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Assessments<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Ops Manager<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->User support and access control<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Backup and disaster recovery<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database load balancing and seem less switchover<!-- -->
                                </div>

                            </div><!-- end col -->
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->24×7 managed services<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Cloud and on-premise upgrades and migrations<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database environment refreshes<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Performance tuning and maintenance<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database Archival and Purging Solutions<!-- -->
                                </div>
                            </div><!-- end col -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
        </div>
    </div>
</section>
