<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>Database Management</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Database Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">MariaDB</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Start Features Area -->
<section class="section bg-light">
    <!-- Circle Animations Effect-->
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>MariaDB - Set yourself towards a better database with Featec</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">MariaDB</span>
                <p class="section_subtitle mx-auto">Featec strives to give the best services to fulfill all needs for your database needs, and requirements.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MariaDB Managed services</h3>
                        <div class="text">Streamline your performance with us to make the most of our services and bring the best out of your database</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MariaDB Consulting Services</h3>
                        <div class="text">Enhance your database development with our consulting services and take your database to the next level with secured
                        data</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MariaDB Performance and Security Auditing</h3>
                        <div class="text">Amplify your database development with Featec team and our experts</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MariaDB Remote DBA</h3>
                        <div class="text">Featec offers a centralized DBA team that is available around the clock for your MariaDB databases.</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="text-white">OUR FEATURES</h5>
                    <h2 class="text-white">Featec gives you an enterprise database service.</h2>
                    <p class="text-white">Simple, Seamless, and Secure</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Remote DBA</h4>
                        <p class="opacity-70">MariaDB's remote database administration (DBA) services deliver comprehensive, high-impact outcomes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Database Optimization</h4>
                        <p class="opacity-70">The procedure of altering a company's data strategy to increase the efficiency and speed of data extraction, analysis,
                        and use</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Technical support</h4>
                        <p class="opacity-70">For a long time, our Support Engineers have been resolving all types of database issues. Our MariaDB Support Engineers
                        have worked as DBAs and developers, and our first-line support staff is knowledgeable in both MariaDB and MySQL</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Load balancing and Archival Solutions</h4>
                        <p class="opacity-70">We support cost-effectively dividing up incoming network traffic among a server farm of backend computers. We also have
                        frequently been using migration procedures between exchange versions or organizations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h2 class="text-white">Let’s create something together?</h2>
                    <p class="text-white">Contact us without any hesitate</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">

    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>OUR SERVICES</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">our services</span>
                <p class="section_subtitle mx-auto">We are the best solution for MariaDB support - a top-tier database management system that is a fork of the MySQL
                database and has a keen understanding of open source concepts.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Remote DBA<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database migrations<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->MariaDB consulting<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Red rover migration services<!-- -->
                                </div>

                            </div><!-- end col -->
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Cost effective 24×7 DBA coverage<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database upgrades<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Enterprise architecture<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Remote Observability services<!-- -->
                                </div>
                            </div><!-- end col -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
        </div>
    </div>
</section>