<!-- Inner Banner Start-->
<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>Database Management</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Database Manager</li>
            </ol>
        </nav>
    </div>
</section>

            <!-- Start How-it-Work -->
            <section class="section" id="howitworks">
                  <div class="container">
                    <!-- <div class="title-block mx-auto">
                      <div class="section_title mb-4 text-center">
                        <h2><span>How Does It Works?</span></h2>
                        <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground" data-enllax-direction="horizontal">How Does It Works?</span>
                        <p class="section_subtitle mx-auto">this dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. this dolor sit amet.</p>
                      </div>
                    </div> -->
                    <div class="work-steps-process">
                      <div class="work-steps-box">
                        <div class="row align-items-center">
                          <div class="col-md-6 col-sm-12">
                            <div class="work-steps-detail d-flex align-items-start wow fadeInLeft" data-wow-delay="0.3s" data-wow-duration="1000ms">
                              <div class="steps-icon">
                                <i class="mdi mdi-file-document-edit-outline"></i>
                              </div>
                              <div class="steps-text">
                                <h4>Performance</h4>
                                <p class="step-desc">You might need to evaluate the application's performance and database as you create and manage apps. The number of open
                                database connections, hardware accessibility, and database access patterns are frequently factors in performance degradation.</p>
                              </div>
                            </div>
                            <div class="work-steps-detail d-flex align-items-start wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1000ms">
                              <div class="steps-icon">
                                <i class="mdi mdi-file-document-edit-outline"></i>
                              </div>
                              <div class="steps-text">
                                <h4>Scalability</h4>
                                <p class="step-desc">A database's capacity to continuously modify its resources to satisfy application demands is known as scalability. We
                                offer various elastic, horizontal, and vertical scalability options on premises and on multi-cloud database platforms.</p>
                              </div>
                            </div>
                            <div class="work-steps-detail d-flex align-items-start wow fadeInLeft" data-wow-delay="0.9s" data-wow-duration="1000ms">
                              <div class="steps-icon">
                                <i class="mdi mdi-file-document-edit-outline"></i>
                              </div>
                              <div class="steps-text">
                                <h4>Availability</h4>
                                <p class="step-desc">Through our database solutions, we ensure availability of the database round the clock. The secondary will choose a new
                                primary to become available when the primary goes down or becomes unavailable. The database auto failover and auto
                                switchover will be handled by our solutions with zero data loss.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class="work-steps-images wow fadeInRight" data-wow-delay="0.2" data-wow-duration="1000ms">
                              <img src="assets/images/works/how-works.png" class="img-fluid" alt="" width="600" height="385">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
            <!-- End How-it-Work -->

            <section class="section bg-light">
                <!-- Circle Animations Effect-->
                <ul class="circles fetures-circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="container">
                    <div class="title-block mx-auto">
                        <div class="section_title mb-4 text-center">
                            <h2><span>Services offered by Us</span></h2>
                            <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                                data-enllax-direction="horizontal">Services offered by Us</span>
                            <p class="section_subtitle mx-auto"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/mysql">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>MySQL</h3>
                                    <div class="text">A pool of certified MySQL DBAs and consultants is made available through Fetec. Our consultants can visit your office
                                    or work remotely, depending on your needs. Featec offers monitoring, consulting, performance, DB health audit, and
                                    security auditing services.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/mongodb">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>MongoDB</h3>
                                    <div class="text">MongoDB offers solutions that address the challenges you face and overcome to maintain MongoDB performance. We have
                                    consulting and auditing services that are available consistently round-the-clock.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/postgresql">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>PostgreSQL</h3>
                                    <div class="text">As one of the most powerful open-source database systems currently available, PostgreSQL has benefited enterprises
                                    worldwide. Get the best out of PostgreSQL with Featec consultants!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/mariadb">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>MariaDB</h3>
                                    <div class="text">MariaDB's remote database administration (DBA) services deliver thorough, significant outcomes. Find the ideal
                                    combination to enhance your internal resources with Featec services.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/proxysql">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>ProxySQL</h3>
                                    <div class="text">ProxySQL is a database protocol-aware proxy for MySQL. It is an open-source proxy that is high-performance and boasts
                                    high availability. Featec provides customers with management and consulting services.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/maxscale">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>Maxscale</h3>
                                    <div class="text">In addition to extending MariaDB Server's high availability, scalability, and security, MariaDB MaxScale is a database
                                    proxy that makes it easier to design applications by separating them from the underlying database architecture.</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/cloud cost optimization">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>Cloud Cost Optimization</h3>
                                    <div class="text">The cloud allows for infinite scalability for businesses and lowers IT costs by only billing for the services that are
                                    actually used. Mydbops offers you easy and convenient optimization of your cloud costs.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="app-feature-blocks wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1.5s">
                                <div class="steps-hover-thumb"></div>
                                <div class="features-info" routerLink="/database-service/aws partners">
                                    <div class="featured-icons">
                                        <i class="mdi mdi-database"></i>
                                    </div>
                                    <h3>AWS Partners</h3>
                                    <div class="text">Similar assistance and services are offered by Mydbops and Amazon Enterprise Support. The major brands in India, like
                                    Dream11, Practo, Nykaa, Razorpay, and others, are among our 150+ international clients.</div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
       


<!-- Start About Countdown Area-->
<section class="parallax parallax-box section">
    <div id="counter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-ico"><i class="mdi mdi-rocket"></i></div>
                        <h3 id="number1" class="number counter-value" data-count="12">0</h3>
                        <span></span>
                        <p>Projects done</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-ico"><i class="mdi mdi-account-group"></i></div>
                        <h3 id="number2" class="number counter-value" data-count="55">0</h3>
                        <span></span>
                        <p>Happy clients</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-ico"><i class="mdi mdi-coffee"></i></div>
                        <h3 id="number3" class="number counter-value" data-count="50">0</h3>
                        <span></span>
                        <p>Cups of coffee</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter-box text-center">
                        <div class="counter-ico"><i class="mdi mdi-trophy"></i></div>
                        <h3 id="number4" class="number counter-value" data-count="10">0</h3>
                        <span></span>
                        <p>Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Countdown Area-->
<!-- Start ours teams-->


<section class="section about-content-area">
    <div class="container">

        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>Why Featec?</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal" style="transform: translateX(80px);">Why Featec</span>
                <p class="section_subtitle mx-auto">Featec offers hassle-free management of your databases</p>
            </div>
        </div>


        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/database.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            Multi-Database Ready
                        </h4>
                        <div class="text">Featec handles multiple databases of all types of complexity, sizes, and scales. No locked-in licenses or in-app
                        purchases and upgrades. With Featec, solutions have never been easier.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/safe.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            Trustable
                        </h4>
                        <div class="text">Our products and solutions are built on open-source and come with round-the-clock support. For mission-critical
                        workloads, you can easily guarantee high availability, safeguard data integrity, and meet compliance and security
                        regulations. </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/easyuse.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            Run anytime, anywhere
                        </h4>
                        <div class="text">Run and operate your database anywhere and anytime. Our open-source software, paired with our expertise, enables you to
                        manage databases on any infrastructure at your convenience.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-2">
                <div class="about-image-block wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <img src="assets/images/aboutus/fast.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 order-md-1">
                <div class="about-text-block wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="about-content">
                        <h4>
                            Build Faster, Operate Smoother!
                        </h4>
                        <div class="text">Every business has had instances of customers being frustrated by long, drawn-out processing times. But with Featec,
                        all your database hassles can come to an end.</div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>
</section>
<!-- End our teams Area -->
<!-- End About Team Area-->


