<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>Database Management</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Database Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mysql</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Start Features Area -->
<section class="section bg-light">
    <!-- Circle Animations Effect-->
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>MySQL & Featec- The best host for your databases</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">Mysql</span>
                <p class="section_subtitle mx-auto">We provide the most out of Managed services, Consulting, Security Auditing, and performance for your databases</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MySQL Managed Services</h3>
                        <div class="text">To assist your business, Mydbops offers knowledgeable MySQL database administration professionals with a solid
                        foundation in this database environment.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MySQL Consulting</h3>
                        <div class="text">Mydbops consulting assists you in getting more out of your IT investments by boosting operational effectiveness,
                        reducing expenses, and safeguarding crucial data.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MySQL Performance & Security Auditing</h3>
                        <div class="text">You can control your MySQL databases with the aid of our MySQL support specialists. Get more value in the cloud or
                        on-premises.</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MySQL Remote DBA</h3>
                        <div class="text">For your MySQL databases, Mydbops provides a central DBA team that is available around-the-clock</div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="text-white">OUR FEATURES</h5>
                    <h2 class="text-white">Our MySQL Services for your tomorrow</h2>
                    <p class="text-white">The service you customize, and you control</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">MySQL High Availability (HA) Solutions</h4>
                        <p class="opacity-70">Delivering a total high availability solution for MySQL is MySQL InnoDB
                            Cluster. Each server in an InnoDB Cluster provides fault tolerance, automated failover, and
                            elasticity while replicating data to all cluster members.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Database Optimization</h4>
                        <p class="opacity-70">The procedure of altering a company's data strategy to increase the efficiency
                            and speed of data extraction, analysis, and use.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Managed Services Support to your Database Systems</h4>
                        <p class="opacity-70">Our managed services support your Database and bring in a better performance
                            With your data and help you attain high success levels.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Load balancing and Archival Solutions</h4>
                        <p class="opacity-70">We support cost-effectively dividing up incoming network traffic among a
                            server farm of backend computers. We also have frequently been using migration procedures
                            between exchange versions or organizations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h2 class="text-white">Let’s create something together?</h2>
                    <p class="text-white">Contact us without any hesitate</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">

    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>OUR SERVICES</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">our services</span>
                <p class="section_subtitle mx-auto">To assist your business, Featec offers knowledgeable MySQL database administration professionals with a solid
                foundation in this database environment.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Database Optimization <!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Reliable &amp; Scalable Clustering Solutions<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Troubleshooting &amp; Resolving Problems<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Disaster Recovery (DR) Solutions<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Audit &amp; Secure Database Systems<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Database Change Control Processes<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Monitoring Solutions<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->MySQL FISMA / FERPA /PCI / HIPAA / PPI / SOX Compliance<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->MySQL SSL Implementation<!-- -->
                            </div>

                            <div class="border-bottom border-b-2 text-xl mb-4">
                                <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                &nbsp; <!-- -->Oracle MySQL, Percona MySQL &amp; MariaDB Database Development<!-- -->
                            </div>

                            </div><!-- end col -->
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database Architecture Support<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->High Availability (HA) Solutions<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database Backups<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database Upgrades &amp; Cloud Migrations<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database Operations Automation<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Managed Services Support to your Database Systems<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Migrations from enterprise databases to MySQL<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->MySQL (support for both Enterprise and Community versions)<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->MySQL Data Encryption<!-- -->
                                </div>

                                
                                
                            </div><!-- end col -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
            
            </div>

    </div>


</div>
    

</section>