<!-- Inner Banner Start-->
<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>PRISUM-E-Retail</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Product</a></li>
                <li class="breadcrumb-item active" aria-current="page">E-Retail</li>
            </ol>
        </nav>
    </div>
</section>

<section class="section about-content-area">
    <div class="container">
        <div class="header text-center">
            <img src="/assets/images/sfa/org_prisum.png" alt="Demo Image">
            <h1>E<span> Retail </span></h1>
        </div>
        <div class="content mt-3 text-center text-md-left">
            <p>Online businesses can thrive when they have features like easy payment processing, customer support, and
            different ways to accept payments online, on the websites and applications. Leverage our E retail
            application, a custom e-commerce platform to help businesses of all sizes with order management, CRM,
            shipping, retail analytics, and reporting on one centralised system. This comprehensive solution streamlines
            processes for managing product information, promotions, pricing, shipping, cancellations, reporting, and
            more. Powered with advanced analytics, the system enables efficient operations and effective
            decision-making. The robust modules of the tailor-made solution include.</p>
        </div>
    </div>
</section>

<div class="container p-5 pb-0">
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/Product listing & Advanced Search.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
            <h2>Product listing & Advanced Search</h2>
            <p> Aids the customer to quickly browse through the list and do an
                advanced search of a specific item to find the exact product that is needed in a few clicks.
            </p>
        </div>
    </div>

    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
            <img src="/assets/images/icon/Realtime Order placement to Nearest Distributor.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Realtime Order placement to Nearest Distributor
            </h2>
            <p>Helps you to identify the nearest distributor where you can place the order and revoke the inventory in a
                lesser time cost.
            </p>
        </div>
    </div>

    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/Returns Management.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
            <h2>Return Management
            </h2>
            <p>
                offers a centralised panel to manage account reconciliation for marketplaces returns and inventory
                against all the returns. The return module is highly efficient to manage returns effectively ensuring
                smooth and quick turnaround time.
            </p>
        </div>
    </div>

    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
            <img src="/assets/images/icon/wallets.png" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Wallet
            </h2>
            <p>
                E-retail wallets are digital wallets that allow you to store your payment information and make secure
                online payments. They are becoming increasingly popular as a way to make online shopping easier and more
                convenient.
            </p>
        </div>
    </div>

</div>

<div class="container-fluid mb-5 d-flex align-items-center justify-content-center text-center">
    <div>
        <button class="btn btn-demo" (click)="openDemoRequest()">Request a Demo</button>
    </div>
</div>