<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>Database Management</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Database Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">MaxScale</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Start Features Area -->
<section class="section bg-light">
    <!-- Circle Animations Effect-->
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>MaxScale: The Key to Unlocking Your Database's Potential</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">MaxScale</span>
                <p class="section_subtitle mx-auto">With Featec, unlock the full potential of your database with MaxScale's advanced features.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MaxScale Managed services</h3>
                        <div class="text">We’ll optimize your DB performance so you can make the most of your database.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MaxScale Consulting Services</h3>
                        <div class="text">Utilize our expert consulting services to take your database to the next level.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MaxScale Performance and Security Auditing</h3>
                        <div class="text">Effortlessly scale your database performance with our MaxScale Performance and Security Auditing services.</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>MaxScale Remote DBA</h3>
                        <div class="text">Featec offers a centralized DBA team that is available around the clock for your MaxScale databases.</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="text-white">OUR FEATURES</h5>
                    <h2 class="text-white">Featec offers industry-standard services.</h2>
                    <p class="text-white">Anytime, for your every need.</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Load Balancing Solutions</h4>
                        <p class="opacity-70">We facilitate distributing incoming network traffic around a server farm of backend machines in an economical manner</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Database Optimization</h4>
                        <p class="opacity-70">We help optimize your database performance to enable faster processes, thereby enhancing your outcome.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Technical support</h4>
                        <p class="opacity-70">Our MaxScale Support Engineers have been offering clients resolutions for various requirements that demand knowledge and
                        skill.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Availability</h4>
                        <p class="opacity-70">With the help of our high-availability solutions, your applications can operate faultlessly at all times.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h2 class="text-white">Let’s create something together?</h2>
                    <p class="text-white">Contact us without any hesitate</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">

    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>OUR SERVICES</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">our services</span>
                <p class="section_subtitle mx-auto">We offer unparalleled support for MaxScale - a leading database management system that builds upon the foundation of
                MySQL and has a deep understanding of open-source principles.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database upgrades<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database migrations<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Enterprise architecture<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->MaxScale consulting<!-- -->
                                </div>

                            </div><!-- end col -->
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Remote DBA<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Remote Observability services<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Cost-effective 24×7 DBA coverage<!-- -->
                                </div>
                            </div><!-- end col -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
        </div>
    </div>
</section>