<!-- <section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>PRISUM-SFA</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Product</a></li>
                <li class="breadcrumb-item active" aria-current="page">SFA</li>
            </ol>
        </nav>
    </div>
</section>

<app-feature-roadmap></app-feature-roadmap>

<div class="container-fluid mb-5 d-flex align-items-center justify-content-center text-center">
    <div>
        <button class="btn btn-demo" (click)="openDemoRequest()">Request a Demo</button>
    </div>
</div> -->

<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>PRISUM-SFA</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Product</a></li>
                <li class="breadcrumb-item active" aria-current="page">SFA</li>
            </ol>
        </nav>
    </div>
</section>
<section class="section about-content-area">
    <div class="container">
        <div class="header text-center">
            <img src="/assets/images/sfa/org_prisum.png" alt="Demo Image" style="width: 100%; height: auto; max-width: 300px;">
            <h1>Field Sales<span style="color:#314584 ;"> Automation</span> Software</h1>
        </div>
        <!-- <div class="content">
            Drive your sales with enhanced profitability and grow your business exponentially using the latest
            technologies.
        </div> -->
    </div>
</section>
<div class="container-fluid mb-5 d-flex align-items-center justify-content-center">
    <img class="img1"
        src="/assets/images/icon/Purple and Blue Illustrative Team Building and Employee Engagement Mind Mallp.png"
        width="80%" height="80%">
</div>

<div class="container mt-5 p-5 pb-0">

    <!-- Maximize Sales Efficiency with Field Sales Automation Software -->
    <div class="row content-section"
        style="background: linear-gradient(135deg, #f5f7fa, #e6f0ff); border-radius: 10px; padding: 30px;">
        <div class="col-12 text-center">
            <h2 style="font-size: 2.5rem; color: #0047ab;">Maximize Sales Efficiency with Field Sales Automation
                Software</h2>
            <p style="font-size: 1.1rem; color: #333;">Field sales automation software is essential for driving sales
                efficiency and profitability, enabling businesses to grow exponentially. By leveraging cutting-edge
                technologies in <b>field sales management</b>, you can streamline sales processes, enhance team
                productivity, and significantly boost your bottom line.</p>
        </div>
    </div>

    <!-- Attendance & Leave Management -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/101.png" alt="Attendance & Leave Management Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
            <h2>Attendance & Leave Management</h2>
            <p>Our intuitive <b>attendance tracking</b> and leave management system allows for efficient monitoring of employee attendance and
            leave schedules. This feature not only manages attendance patterns and leave requests but also streamlines <b>HR operations,</b>
            empowering your HR team to focus on employee development and strategic initiatives.</p>
        </div>
    </div>
    <!-- Daily Route Plan & Route Optimization -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
            <img src="/assets/images/icon/map.png" alt="Daily Route Plan & Route Optimization Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Daily Route Plan & Route Optimization</h2>
            <p>Optimize your daily routes effortlessly with our advanced <b>route optimization software</b>. Utilizing sophisticated
            algorithms, our field sales automation solution considers vehicle capacities, delivery windows, and traffic patterns to
            generate the most efficient routes. This reduces travel time and fuel costs, enhances customer service, and improves
            overall profitability.</p>
        </div>
    </div>
    <!-- Order Management -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/inevn.png" alt="Order Management Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
            <h2>Order Management System</h2>
            <p>Streamline your order processing from receipt to delivery with our comprehensive <b>order management system</b>. Our field
            sales automation software enables real-time order tracking and <b>inventory management</b> while keeping customers informed
            throughout the fulfillment process. Minimize delays and errors to enhance customer satisfaction and encourage repeat
            business.</p>
        </div>
    </div>
    <!-- Travel Claim -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
            <img src="/assets/images/icon/claim.png" alt="Travel Claim Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Travel Claim Management</h2>
            <p>Our efficient travel claim management system simplifies the process of handling travel expenses. Employees can easily
            submit <b>expense reports</b>, upload receipts, and track reimbursement statuses through a user-friendly interface. By
            automating local travel claims according to your organization’s travel policy, we eliminate tedious manual entries,
            reduce administrative overhead, and ensure compliance.</p>
        </div>
    </div>
    <!-- Performance Analytics -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/Scheme Management.png" alt="Performance Analytics Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
            <h2>Performance Analytics</h2>
            <p>Gain valuable insights into team performance with our customizable <b>performance analytics dashboards</b>. Our field sales
            automation software provides real-time key metrics, such as sales figures, productivity levels, and customer
            satisfaction scores. Identify strengths and areas for improvement to make informed decisions that empower your team and
            drive business growth.</p>
        </div>
    </div>
    <!-- Data Insights and Analytics -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
            <img src="/assets/images/icon/Returns Management.png" alt="Data Insights and Analytics Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Data Insights and Analytics</h2>
            <p>Harness the power of data with our advanced <b>analytics tools</b>. Our field sales automation software helps you identify
            trends and opportunities for business improvement by analyzing sales patterns, operational performance, and customer
            behavior. Make confident, data-driven decisions to stay ahead of the competition.</p>
        </div>
    </div>
    <!-- AI-Generated Daily Insights for Sales Executives -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center">
            <img src="/assets/images/icon/Product listing & Advanced Search.png" alt="AI-Generated Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text">
            <h2>AI-Generated Daily Insights for Sales Executives</h2>
            <p>Leverage the power of artificial intelligence with daily insights tailored specifically for sales executives. Our field
            sales automation software analyzes past sales data and performance trends, enabling sales teams to make informed
            decisions and optimize their strategies. Adapt quickly to market changes and customer needs with <b>AI-driven insights</b>.</p>
        </div>
    </div>
    <!-- Seamless Tally API Integrations -->
    <div class="row content-section">
        <div class="col-12 col-md-4 text-center order-md-2">
            <img src="/assets/images/icon/tally.png" alt="Tally API Integrations Icon" />
        </div>
        <div class="col-12 col-md-8 mt-3 mt-md-0 text order-md-1">
            <h2>Seamless Tally API Integrations</h2>
            <p>Experience seamless integration with Tally through our Tally API connections, enhancing your <b>accounting software</b> and
            financial management capabilities. Our field sales automation software synchronizes data between your systems and
            Tally's robust accounting software, eliminating manual data entry and reducing errors. Simplify financial workflows to
            improve accuracy, efficiency, and compliance with regulatory requirements.</p>
        </div>
    </div>
</div>

<!-- <app-feature-roadmap></app-feature-roadmap> -->

<!-- <section class="section pt-0">
  <div class="container">
    <div class="title-block mx-auto">
      <div class="section_title mb-4 text-center">
        <h2><span>Technology Stacks</span></h2>
        <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
          data-enllax-direction="horizontal">Technology Stacks</span>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" style="min-width: 1020px; height: 855px;">
        <tbody>
          <tr style="height: 98px;">
            <td style="height: 98px; width: 175.633px; vertical-align: middle;"><strong>WebApp</strong></td>
            <td style="height: 98px; width: 881.367px;">

                <img decoding="async" class="alignleft wp-image-31832 size-full entered lazyloaded"
                src="assets/images/tools/HTML.png" alt="HTML" width="120" height="70"
                data-lazy-src="assets/images/tools/HTML.png" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31832 size-full" src="assets/images/tools/HTML.png"
                  alt="HTML" width="120" height="70"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <img decoding="async" class="alignleft wp-image-31832 size-full entered lazyloaded"
                src="assets/images/tools/CSS.png" alt="CSS" width="120" height="70"
                data-lazy-src="assets/images/tools/CSS.png" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31832 size-full" src="assets/images/tools/CSS.png"
                  alt="CSS" width="120" height="70"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <img decoding="async"
                class="alignleft wp-image-31849 size-full entered lazyloaded" src="assets/images/tools/Angular.png"
                alt="AngularJS " width="146" height="84" data-lazy-src="assets/images/tools/AngularJS.png"
                data-ll-status="loaded"><noscript><img decoding="async" class="alignleft wp-image-31849 size-full"
                  src="assets/images/tools/Angular.png" alt="AngularJS " width="146" height="84"></noscript>

                </td>
          </tr>

            <tr style="height: 98px;">
            <td style="height: 98px; width: 175.633px; vertical-align: middle;"><strong>Mobile App
                Development</strong></td>
            <td style="height: 98px; width: 881.367px;"><img
                decoding="async" class="alignleft wp-image-31830 size-full entered lazyloaded"
                src="assets/images/tools/Ionic.png" alt="ionic" width="146" height="84"
                data-lazy-src="assets/images/tools/Ionic.png" data-ll-status="loaded"><noscript><img decoding="async"
                  class="alignleft wp-image-31830 size-full" src="assets/images/tools/Ionic.png" alt="ionic"
                  width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img decoding="async" class="alignleft wp-image-31832 size-full entered lazyloaded"
                src="assets/images/tools/React_Native.png" alt="React_Native" width="146" height="90"
                data-lazy-src="assets/images/tools/React_Native.png" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31832 size-full" src="assets/images/tools/React_Native.png"
                  alt="React_Native" width="146" height="90"></noscript>
                
                </td>
          </tr>

          <tr style="height: 98px;">
            <td style="height:98px; width: 175.633px; vertical-align: middle;"><b>Back-end </b></td>
            <td style="height: 98px; width: 881.367px;">

              <img decoding="async" class="alignleft wp-image-31844 size-full entered lazyloaded" src="assets/images/tools/NodeJS.png"
                alt="nodejs" width="146" height="84" data-lazy-src="assets/images/tools/NodeJS.png"
                data-ll-status="loaded"><noscript><img decoding="async" class="alignleft wp-image-31844 size-full"
                  src="assets/images/tools/NodeJS.png" alt="nodejs" width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
             <img decoding="async" class="alignleft wp-image-31847 size-full entered lazyloaded"
                src="assets/images/tools/Java-1.png" alt="Java" width="146" height="84"
                data-lazy-src="assets/images/tools/Java-1.png" data-ll-status="loaded"><noscript><img decoding="async"
                  class="alignleft wp-image-31847 size-full" src="assets/images/tools/Java-1.png" alt="Java"
                  width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;
                  
              <img decoding="async"
                class="alignleft wp-image-31848 size-full entered lazyloaded" src="assets/images/tools/php.png"
                alt="php" width="146" height="84" data-lazy-src="assets/images/tools/php.png"
                data-ll-status="loaded"><noscript><img decoding="async" class="alignleft wp-image-31848 size-full"
                  src="assets/images/tools/php.png" alt="php" width="146" height="84"></noscript>
                
                </td>
          </tr>
          <tr style="height: 98px;">
            <td style="height:98px; width: 175.633px; vertical-align: middle;">
             <strong>Services<br></strong>
            </td>
            <td style="height: 98px; width: 881.367px;"><img decoding="async"
                class="alignleft wp-image-31866 size-full entered lazyloaded" src="assets/images/tools/Cloud.jpg"
                alt="cloud" width="146" height="84" data-lazy-src="assets/images/tools/Cloud.jpg"
                data-ll-status="loaded"><noscript><img decoding="async" class="alignleft wp-image-31866 size-full"
                  src="assets/images/tools/Cloud.jpg" alt="cloud" width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                <img
                decoding="async" class="alignleft wp-image-31867 size-full entered lazyloaded"
                src="assets/images/tools/security.png" alt="Security" width="126" height="84"
                data-lazy-src="assets/images/tools/security.png" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31867 size-full" src="assets/images/tools/security.png"
                  alt="Security" width="126" height="84"></noscript>
                  </td>
          </tr>

          <tr style="height: 98px;">
            <td style="height: 98px; width: 175.633px; vertical-align: middle;"><strong>Database&nbsp;</strong></td>
            <td style="height: 98px; width: 881.367px;"><img decoding="async"
                class="alignleft wp-image-31826 size-full entered lazyloaded" src="assets/images/tools/MySQL.png"
                alt="MySQL" width="146" height="84" data-lazy-src="assets/images/tools/MySQL.png"
                data-ll-status="loaded"><noscript><img decoding="async" class="alignleft wp-image-31826 size-full"
                  src="assets/images/tools/MySQL.png" alt="MySQL" width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                  <img decoding="async"
                class="alignleft wp-image-31823 size-full entered lazyloaded" src="assets/images/tools/sqlite.jpg"
                alt="sqlite" width="146" height="84" data-lazy-src="assets/images/tools/sqlite.jpg"
                data-ll-status="loaded"><noscript><img decoding="async" class="alignleft wp-image-31823 size-full"
                  src="assets/images/tools/sqlite.jpg" alt="sqlite" width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <img
                decoding="async" class="alignleft wp-image-31823 size-full entered lazyloaded"
                src="assets/images/tools/postgresql.png" alt="mongoDB" width="146" height="84"
                data-lazy-src="assets/images/tools/postgresql.png" data-ll-status="loaded"></td>
          </tr>
          <tr style="height: 98px;">
            <td style="height: 98px; width: 175.633px; vertical-align: middle;"><strong>OS</strong></td>
            <td style="height: 98px; width: 881.367px;"><img decoding="async"
                class="alignleft wp-image-31411 size-full entered lazyloaded"
                src="assets/images/tools/linux.jpg" alt="amazon web services " width="146" height="84"
                data-lazy-src="assets/images/tools/linux.jpg" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31411 size-full"
                  src="assets/images/tools/linux.jpg" alt="amazon web services " width="146"
                  height="84"></noscript>&nbsp;&nbsp;
                  
                  <img decoding="async"
                class="alignleft wp-image-31413 size-full entered lazyloaded"
                src="assets/images/tools/android.png" alt="Google cloud " width="146" height="84"
                data-lazy-src="assets/images/tools/android.png" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31413 size-full"
                  src="assets/images/tools/android.png" alt="Google cloud " width="146"
                  height="84"></noscript>&nbsp;&nbsp;
                  
                  <img decoding="async"
                class="alignleft wp-image-31412 size-full entered lazyloaded"
                src="assets/images/tools/ios.png" alt="Microsoft Azure " width="146" height="70"
                data-lazy-src="assets/images/tools/ios.png" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31412 size-full"
                  src="assets/images/tools/ios.png" alt="ios" width="146"
                  height="70"></noscript></td>
          </tr>


          <tr style="height: 98px;">
            <td style="height: 98px; width: 175.633px; vertical-align: middle;"><strong>Data Storage </strong></td>
            <td style="height: 98px; width: 881.367px;">
                
                <img decoding="async"
                class="alignleft wp-image-31411 size-full entered lazyloaded"
                src="assets/images/tools/aws.png" alt="Microsoft Azure " width="116" height="70"
                data-lazy-src="assets/images/tools/aws.png" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31411 size-full"
                  src="assets/images/tools/aws.png" alt="Microsoft Azure " width="116"
                  height="70"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                  <img decoding="async"
                class="alignleft wp-image-31413 size-full entered lazyloaded"
                src="assets/images/tools/GoogleCloud.png" alt="Google cloud Functions" width="146"
                height="84" data-lazy-src="assets/images/tools/GoogleCloud.png"
                data-ll-status="loaded"><noscript><img decoding="async" class="alignleft wp-image-31413 size-full"
                  src="assets/images/tools/GoogleCloud.png" alt="Google cloud Functions" width="146"
                  height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
          </tr>
          <tr style="height: 98px;">
            <td style="height: 98px; width: 175.633px; vertical-align: middle;"><strong>Middleware</strong></td>
            <td style="height: 98px; width: 881.367px;">
                
                <img decoding="async"
                class="alignleft wp-image-31398 size-full entered lazyloaded"
                src="assets/images/tools/tcp-ip.jpg" alt="Kubernetes" width="146" height="84"
                data-lazy-src="assets/images/tools/tcp-ip.jpg" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31398 size-full"
                  src="assets/images/tools/tcp-ip.jpg" alt="Kubernetes" width="146" height="84"></noscript>&nbsp;&nbsp;
                  
                  <img
                decoding="async" class="alignleft wp-image-31399 size-full entered lazyloaded"
                src="assets/images/tools/rest.webp" alt="rest" width="146" height="84"
                data-lazy-src="assets/images/tools/rest.webp" data-ll-status="loaded"><noscript><img
                  decoding="async" class="alignleft wp-image-31399 size-full" src="assets/images/tools/rest.webp"
                  alt="rest" width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;

                  <img decoding="async" class="alignleft wp-image-31404 size-full entered lazyloaded"
                src="assets/images/tools/crm-erp.png" alt="crm-erm" width="146" height="84"
                data-lazy-src="assets/images/tools/crm-erp.png" data-ll-status="loaded"><noscript><img decoding="async"
                  class="alignleft wp-image-31404 size-full" src="assets/images/tools/crm-erp.png" alt="crm-erm"
                  width="146" height="84"></noscript>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <img decoding="async" class="alignleft wp-image-31404 size-full entered lazyloaded"
                src="assets/images/tools/rest-api.jpg" alt="rest-api" width="146" height="84"
                data-lazy-src="assets/images/tools/rest-api.jpg" data-ll-status="loaded"><noscript><img decoding="async"
                  class="alignleft wp-image-31404 size-full" src="assets/images/tools/rest-api.jpg" alt="rest-api"
                  width="146" height="84"></noscript>
                
                </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section> -->



<div class="container-fluid mb-5 d-flex align-items-center justify-content-center text-center">
    <div>
        <button class="btn btn-demo" (click)="openDemoRequest()">Request a Demo</button>
    </div>
</div>