<section class="inner-hero-banner">
    <div class="inner-hero-text">
        <h1>Database Management</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Database Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">PostgreSQL</li>
            </ol>
        </nav>
    </div>
</section>

<!-- Start Features Area -->
<section class="section bg-light">
    <!-- Circle Animations Effect-->
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>PostgreSQL - Featec and our high-quality services</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">PostgreSQL</span>
                <p class="section_subtitle mx-auto">At Featec, we aim to provide the best of services to meet your every requirement!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>PostgreSQL Managed Services</h3>
                        <div class="text">We offer the most efficient and professional PostgreSQL Database Administration Services, delivered to you by the most
                        skilled professionals in industry.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>PostgreSQL Consulting Services</h3>
                        <div class="text">Utilize the full potential of your Database with the help of our PostgreSQL Consulting Services.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>PostgreSQL Performance & Security Auditing</h3>
                        <div class="text">Ensuring that your Database is running smoothly and securely, giving you more time to focus on your functioning.</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="app-feature-mysql wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
                    <div class="steps-hover-thumb"></div>
                    <div class="features-info">
                        <div class="featured-service-icons">
                            <i class="mdi mdi-database"></i>
                        </div>
                        <h3>PostgreSQL Remote DBA</h3>
                        <div class="text">The Mydbops DBA Team is available anytime, to resolve any concern, so your Database is always up and running perfectly!</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h5 class="text-white">OUR FEATURES</h5>
                    <h2 class="text-white">Mydbops PostgreSQL Services for your powerful performance.</h2>
                    <p class="text-white">Faster, Better, Safer</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">
    <ul class="circles fetures-circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Flexibility and Extensibility</h4>
                        <p class="opacity-70">We offer unparalleled flexibility and extensibility. No matter what requirement you face, we have the expertise to help
                        you get the most out of PostgreSQL.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Availability</h4>
                        <p class="opacity-70">Ensuring uninterrupted access to your PostgreSQL database with our high availability solutions. Our team of experts will
                        design, implement, and maintain a failover system to keep your database up and running.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Scalability</h4>
                        <p class="opacity-70">Delivering high scalability solutions - both in terms of its ability to handle large amounts of data and its ability to
                        support high levels of concurrency.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <!-- <img class="mr-3" src="images/charticon.png" alt="" style="height: 72.25px; width: 72.25px;"> -->
                    <div>
                        <h4 class="text-custom-dark mb-2">Robust Security</h4>
                        <p class="opacity-70">Protecting your data and ensuring compliance with industry standards and regulations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Get Started Area -->
<section class="section started-bg">
    <div class="banner_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h2 class="text-white">Let’s create something together?</h2>
                    <p class="text-white">Contact us without any hesitate</p>
                </div>
                <div class="col-md-3">
                    <a routerLink="/contact" class="btn btn-sm white-btn">GET STARTED<i
                            class="mdi mdi-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Area -->

<section class="section bg-light">

    <div class="container">
        <div class="title-block mx-auto">
            <div class="section_title mb-4 text-center">
                <h2><span>OUR SERVICES</span></h2>
                <span class="scroll-title" data-enllax-ratio="2.5" data-enllax-type="foreground"
                    data-enllax-direction="horizontal">our services</span>
                <p class="section_subtitle mx-auto">Top-tier database management knowledge and an astute understanding of open-source principles make Featec the right
                choice for PostgreSQL support.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Technical remote DBA support services<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database migrations<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->PostgreSQL consulting<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database performance tuning<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Amazon EC2 implementation management & configuration<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Conversions from other database platforms to PostgreSQL<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Amazon Redshift support & performance tuning<!-- -->
                                </div>

                            </div><!-- end col -->
                            <div class="col-xl-6">

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Cost-effective 24×7 DBA coverage<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Health checks<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Replication<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Database upgrades<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->Amazon RDS setup & support<!-- -->
                                </div>

                                <div class="border-bottom border-b-2 text-xl mb-4">
                                    <img src="./../../../assets/images/tick.svg" class="icon-sm">
                                    &nbsp; <!-- -->PostgreSQL scaling for enterprise performance<!-- -->
                                </div>
                            </div><!-- end col -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
        </div>
    </div>
</section>